<!DOCTYPE html>
<html>
<head>
  <title>Quicker</title>
  <script>
  	var test = 0;
  	console.log(test);
  </script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>

	<div class="container">
		<%= yield %>

		<div class="footer">
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div>

	<div class="modal fade user-edit-modal error-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content error-content">
      
    </div>
  </div>
</div>
</body>
</html>
